
.mainContainer {
  width: (70px * 5) + (5px * 5);
  margin: 10px auto;
}
.box {
  font-size: 2em;
  font-weight: bold;
  width: 70px;
  height: 70px;
  border: solid 2px #555;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}