@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deep-cove-50: 244 236 249;
  --deep-cove-100: 234 220 244;
  --deep-cove-200: 212 190 234;
  --deep-cove-300: 178 151 221;
  --deep-cove-400: 145 109 208;
  --deep-cove-500: 116 78 198;
  --deep-cove-600: 91 62 193;
  --deep-cove-700: 73 62 193;
  --deep-cove-800: 56 62 173;
  --deep-cove-900: 44 57 135;
  --deep-cove-950: 0 18 71;

  --foreground-rgb: 0 18 71;
  --background-start-rgb: 244 236 249;
  --background-end-rgb: 234 220 244;
  --primary-color: 212 190 234;
  --primary-color-r: 212;
  --primary-color-g: 190;
  --primary-color-b: 234;
  --primary-background-r: 0;
  --primary-background-g: 18;
  --primary-background-b: 71;
  --hover-delta: 5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --deep-cove-50: 244 236 249;
    --deep-cove-100: 234 220 244;
    --deep-cove-200: 212 190 234;
    --deep-cove-300: 178 151 221;
    --deep-cove-400: 145 109 208;
    --deep-cove-500: 116 78 198;
    --deep-cove-600: 91 62 193;
    --deep-cove-700: 73 62 193;
    --deep-cove-800: 56 62 173;
    --deep-cove-900: 44 57 135;
    --deep-cove-950: 0 18 71;
    --foreground-rgb: 244 236 249;
    --secondary-rgb: 234 220 244;
    --background-start-rgb: 0 18 71;
    --background-end-rgb: 44 57 135;
    --primary-color-r: 44;
    --primary-color-g: 57;
    --primary-color-b: 135;
    --primary-background-r: 0;
    --primary-background-g: 18;
    --primary-background-b: 71;
    --hover-delta: 5;
  }
}

h1,
h2,
h3 {
  font-family: var(--font-space-header);
}
body,
p {
  font-family: var(--font-space-poppins);
}

body {
 
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100px;
}

.logo {
  font-size: 1.5em;
}

.nav-links {
  display: flex;

  height: 100%;
}

.nav-links a {
  text-decoration: none;
  padding: 0 3vw;
  display: flex;
  align-items: center;
  height: 100%;
  transition: background-color 0.3s ease;
}
@media (max-width: 600px) {
  .nav-links a {
    font-size: clamp(1rem, 1.5vw, 2.5rem);
  }
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.bgWrap {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
.transparent_image {
  opacity: 20%;
}
.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #e8d5b5;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: lighter;
  box-sizing: border-box;
}
.inner:before {
  content: "YES";
  padding-left: 10px;
  background-color: #9b88bb;
  color: #fff;
}
.inner:after {
  content: "NO";
  padding-right: 10px;
  background-color: #e8d5b5;
  color: #fff;
  text-align: right;
}
.switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #e8d5b5;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

.correct-row {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  font-size: 20px;
  line-height: 25px;
  z-index: 1;
  animation-fill-mode: forwards;
  overflow: hidden;
  min-width: 0;
}
.word-box {
  overflow: hidden;
  min-width: 0;
  height: 100px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--background-start-rgb));
  z-index: 0;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
@media (max-width: 600px) {
  .correct-row {
    font-size: clamp(0.75rem, 1.5vw, 2.5rem);
  }
  .word-box {
    font-size: clamp(
      0.75rem,
      1.5vw,
      2.5rem
    ); /* Smaller font size for screens smaller than 600px */
  }
}

.hover-effect {
  background-color: var(--background-start-rgb);

  transition: background-color 0.3s;
  transition: color 0.3s;
}
.hover-effect:hover {
  background-color: rgb(
    calc(var(--primary-background-r) + var(--hover-delta)),
    calc(var(--primary-background-g) + var(--hover-delta)),
    calc(var(--primary-background-b) + var(--hover-delta))
  );
}
.word-box:hover {
  filter: brightness(85%);
  color: rgb(
    calc(var(--primary-color-b) + var(--hover-delta)),
    calc(var(--primary-color-g) + var(--hover-delta)),
    calc(var(--primary-color-b) + var(--hover-delta))
  );
}
.word-box-selected {
  background-color: #e8d5b5;
}

.fieldset {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
}

.solved-categories {
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100px;
  display: grid;
  min-width: 0;
  min-height: 0;
  gap: 8px;
  top: 0;
}
.purple-solved {
  background-color: #9b88bb;
}
.green-solved {
  background-color: #91bb88;
}
.yellow-solved {
  background-color: #e7a83b;
}
.blue-solved {
  background-color: #629bc9;
}
.unsolved-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns of equal width */
  gap: 10px; /* Space between items */
}
.solved-categories div {
  align-content: center;
  margin: 0 auto;
}

.title {
  text-align: center; /* Center text horizontally */
  margin: 20px 0; /* Add some vertical margin */
}
/* Optional: Styles for specific title levels */
h1.title {
  font-size: 2.5em;
}
h2.title {
  font-size: 2em;
}
h3.title {
  font-size: 1.75em;
}
@keyframes jiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}
.span-4 {
  grid-column: span 4;
  text-transform: none;
  width: 100%;
  height: 33%;
  text-align: center;
  font-weight: 200;
}
.jiggle {
  animation: jiggle 0.5s ease-in-out;
}
.clues{
  
  height: 100vh;
  overflow: scroll;
}
.crossword .grid{
  height: 100vh;
  overflow: scroll;
}
@media (max-width: 768px) {
  .clues{
    
    height: 50vh;
    overflow: scroll;
  }
  .crossword .grid{
  
    height: 50vh;
    overflow: scroll;
  }
}
@media (min-width: 576px) {
  .card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 20px;
    padding: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 20px;
    padding: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    gap: 20px;
    padding: 20px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 20px;
    padding: 20px;
  }
}

.card-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  background: rgba(
    0,
    0,
    0,
    0.2
  ); /* Semi-transparent background for text readability */
  padding: 15px;
}

.card h3,
.card p {
  margin: 0;
}
