.crossword input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-color: none;
    border-width: none;
    border-radius: none;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-size: unset;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
    outline: none;
}