
.container {
  font-family: 'Poppins', sans-serif;

  
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    margin: 5px 0;
  }